body {
  margin: 0;
  font-family: "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    "sans-serif";
  color: #545454;
}
header {
  height: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: gray;
  color: white;
}
ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
}
ul li {
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
}
.menu1 {
  text-align: center;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid white;
  color:inherit;
}
.menu2 {
  text-align: center;
  position: relative;
  display:inline-block;
  text-decoration: none;
  color:inherit;
}
.container {
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.main {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}
.side {
  width: 10%;
  padding: 20px;
}